{% extends 'base.html' %}

{% block title %}{{group.title}}{% endblock %}

{% block content %}
  <div class="container py-5">
    Записи сообщества <h1>{{group.title}}</h1>
    <p>{{ group.description|linebreaksbr }}</p>
    {% for post in page_obj %}
      <ul>
        <li>
          Автор:
          <a href="{% url 'posts:profile' post.author.username %}">{% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author.username }}{% endif %}</a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <p>{{ post.text|linebreaksbr }}</p>
      {% load thumbnail %}
        {% thumbnail post.image "480x339" crop="center" upscale=True as im %}
          <img class="card-img" src="{{ im.url }}" />
        {% endthumbnail %}
      <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>    
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </div>
  {% include 'posts/includes/paginator.html' %}
{% endblock %}