<ul>
    <li>
      Автор:
      <a href="{% url 'posts:profile' post.author.username %}">{% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author.username }}{% endif %}</a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text|linebreaksbr }}</p>
  {% load thumbnail %}
  {% thumbnail post.image "480x339" crop="center" upscale=True as im %}
    <img class="card-img" src="{{ im.url }}" />
  {% endthumbnail %}
  <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a><br>
  {% if post.group %}
    <p>
      Группа:
      <a href="{% url 'posts:group' slug=post.group.slug %}"> {{post.group.title}}</a>
    </p>
  {% endif %}
  {% if not forloop.last %}<hr>{% endif %}